<h1 style="text-align: center">Add Order Details</h1>
<form  #orderForm="ngForm" (ngSubmit)="onAdd(orderForm)">
  <button class="btn btn-default" type="button" (click)="signOut()" style="margin-left: 85%;margin-top: -5%">Signout</button>

  <table class="table table-sm table-hover">
    <tbody>

      <tr *ngFor="let field of itemdata">


        <td>
          <span>Select Client</span>

          <select name="something" [(ngModel)]="optionSelected" (change)="onOptionsSelected(optionSelected)">
            <option *ngFor="let client of clientNameList" [ngValue]="client">{{client.clientName}}</option>
          </select>
        </td>


        <td>
          <span>Select Item</span>

          <select name="something" [(ngModel)]="optionItemSelected" (change)="onOptionsItemSelected(optionItemSelected)">
            <option *ngFor="let category of categoryData" [ngValue]="category">{{category.category}}</option>
          </select>
        </td>
        <td>
          <input class="form-control" type="number" value={{field.itemQuantity}} placeholder="Quantity" />
        </td>
        <td>
          <input class="form-control" type="text" value={{field.itemName}} placeholder="Item Name" />
        </td>

        <td>
          <button class="btn btn-default" type="button" (click)="deleteFieldValue(i)">Delete</button>
        </td>
      </tr>

      <tr>
        <td>
          <span>Select Client</span>

          <select name="something" [(ngModel)]="optionSelected" (change)="onOptionsSelected(optionSelected)">
            <option *ngFor="let client of clientNameList" [ngValue]="client">{{client.clientName}}</option>
          </select>
        </td>

        <td>
            <span>Select Item</span>
  
            <select name="something" [(ngModel)]="optionItemSelected" (change)="onOptionsItemSelected(optionItemSelected)">
              <option *ngFor="let category of categoryData" [ngValue]="category">{{category.category}}</option>
            </select>
          </td>
         
          <td>
        <td>
          <input class="form-control" type="number" name="ItemQuantity" [(ngModel)]="ItemQuantity" placeholder="Quntity" />
        </td>
        <td>
          <input class="form-control" type="text" name="ItemName" [(ngModel)]="ItemName" placeholder="Item Name" />
        </td>
       
        <td>
       
          <button class="btn btn-default" type="submit" (click)="addFieldValue()">Add</button>
        </td>
      </tr>

      <tr>
        <button class="btn btn-success" type="submit"  style="margin-left: 2%">Save</button>
      </tr>
    </tbody>


  </table>
</form>